.nav {
    grid-area: n;
    background-color: aquamarine;

}

a {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    line-height: 10px;
}

a:hover {
    color: #123127;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: hotpink;
}

a:focus {
    color: indigo;
}

ol {
    list-style: none;
    text-align: center;


}

li {
    margin: 0 30px 10px 0;
    padding:5px 10px;
    border:3px solid lightskyblue;
}
li:hover {
    border:3px solid deeppink;
}