.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialogsItems {
    padding: 10px;

}
.dialogsItems .active {
    color: #007c5c;
}

.messages {
    padding:10px;
    color: slateblue

}

.message {

}